body {
    text-align: center;
    font-family: sans-serif;
}

button {
    padding: 5px;
    margin: 10px;
    border-radius: 30px;
    background-color: white;
}

.quiz-container button {
    justify-content: center;
    display: flex block;
    margin: 10px;
}